@import "tailwindcss";
/* 
:root{
    --bg-primary: #0A6259;
}

@theme{
    --bg-primary: #0A6259;
} */

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.primary{
    color: #0A6259;
}

.bg-primary{
    background-color: #0A6259;
}

.border-primary{
    border-color: #0A6259;
    border-width: 1px;
}